*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}

:root {
    --hf-bg-color:rgb(51, 3, 3);
    --hf-t-color: rgb(194, 194, 188);

}
header {
    width: 100%;
    margin: 0%;
    font-size: 150%;
    background: var(--hf-bg-color);
    color: var(--hf-t-color);
    justify-content: space-evenly;
}

header::after {
    content:"";
    display: table;
    clear: both;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    float:left;
    text-align: center;
    margin-top: 5%;
    margin-left: 2%;
}

nav {
    float: right;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li {
    display: inline-block;
    padding-top: 12%;
    margin-left: 70px;
    margin-right: 10px;
}

nav a {
    display: flex;
    justify-content: flex-end;
    color: rgb(194, 194, 188);
    text-decoration: none;
    text-transform: uppercase;
}

.headshot {
    float: left;
    max-width: 15%;
    height: 100%;
}

body {
    background-color: rgb(194, 194, 188);
    color:rgb(51, 3, 3);
}

.hero {
    display:inline-block;
    margin: 0%;
    padding: 0%;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    min-height: 100%;
}

.content {
    padding-bottom: 20px;
}

h2 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

p {
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    text-align: left;
}

.container {
    max-width: 100%;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: row;
}

.left, .center, .right {
    max-width: 100%;
    max-height: 300px;
    flex: 1;
    padding: 30px;
    font-size: 25px;
    text-align: center;
    align-items: center;
}

img {
    width: 25%%;
    height: 100%;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: var(--hf-bg-color) ;
    color:var(--hf-t-color);
}

footer ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    align-items: center;
}

footer li {
    margin-bottom: 10px;
    padding: 0;
    list-style: none;
    font-size: 20px;
}
